@*Burası Memberdashboard Index sayfasından alınıp taşındı oraya partial olarak eklendi*@

<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil bilgileri ve istatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal rezarvasyon web uygulamasının kullanıcı dashboard panelinde bulunmaktasınız.</p>
                <h4 class="card-title">..............</h4>
                <h6>Aktaif Rezarvasyon Sayınız:</h6>
                <h6>Geçmiş Rezarvasyon Sayınız:</h6>
                <h6>Onay Bekleyen Rezarvasyon Sayınız:</h6>
                <h6>Toplam Rota Sayısı:</h6>
                <h6>Toplam Rehber Sayımız:</h6>
                <h6>Toplam Misafir Sayımız:</h6>
            </div>
        </div>
    </div>
</div>
