@model ForgetPasswordViewModel
@{
    Layout = null;
}


@*herhangi bir layout kullanmadık veya partial olarak açmadık kendi başına bir layout sayfasıdır*@

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container">
    <h2>Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label>Mail Adresinizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <span asp-validation-for="Mail" class="text-danger"></span>
        <br />
        <button class="btn btn-outline-primary">Şifre Yenileme Linki Gönder</button>
    </form>
</div>