@model ResetPasswordViewModel
@{
    Layout = null;
}


@*herhangi bir layout kullanmadık veya partial olarak açmadık kendi başına bir layout sayfasıdır*@

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container">
    <h2>Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label>Yeni Şifreyi Giriniz</label>
        <input type="text" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <label>Şifrenizi Tekrar Giriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <br />
        <button class="btn btn-outline-primary">Şifreyi Güncelle</button>
    </form>
</div>
