
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<!--Bu view _UserLayoutnu kullanıyor-->
<!--webte aç deyince hata veriyor o yüzden CommentController içinde hangi areayı kullanacağını söyllüyoruz [Area("Member")]-->
<!--Login olmadan erişmeye izin vermez izin vermesi için CommentController sayfasına [AllowAnonymous] bu ifadeyi ekliyoruz-->
<!--bu index sayfası areas klasörü altındaki Member klasörü altındaki contollers klasörü altındaki CommentController classının index sayfasıdır -->
<h1>Index</h1>

