
@{
    ViewData["Title"] = "GetCityID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Boking Oteller İçin Şehir ID Bilgisi Getirme</h1>
<br />

<form method="post">
    <label>Şehir Adını Giriniz</label>
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-info">Şehir ID Getir</button>
</form>

