@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@section Scripts{ 
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:53751/VisitorHub").build();

            $("#ConnectionStatus").text(connection.connectionState);

            connection.start().then(() => {
                $("#ConnectionStatus").text(connection.connectionState);
            }).catch((err) => {
                console.warn(err)
            });
    })
</script>
}
<div class="container">
    <br />
    <div class="alert alert-warning">
        Bağlantınızın Durumu: <b id="ConnectionStatus"></b>
    </div>
</div>