@model CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Role EklemeSayfası</h1>
<br />
<form method="post">
    <label>Rol Adını Giriniz</label>
    <input type="text" asp-for="RoleName" class="form-control" required="" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-success">Rol Ekle</button>
</form>

