@model GetDestinationByIdQueryResult
@{
    ViewData["Title"] = "GetDestinationById";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tur Lokasyon Düzenleme Sayfası</h1>
<br />
<form method="post">
    <input type="hidden" asp-for="DestinationID" />
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br />
    <label>Konaklama Süresi</label>
    <input type="text" class="form-control" asp-for="DayNight" />
    <span asp-validation-for="DayNight" class="text-danger"></span>
    <br />
    <label>Kişi Sayısı</label>
    <input type="text" class="form-control" asp-for="Capacity" />
    <span asp-validation-for="Capacity" class="text-danger"></span>
    <br />
    <label>Fiyat</label>
    <input type="text" class="form-control" asp-for="Price" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-info">Güncelle</button>
</form>

